<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- scss -->
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- font_awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css"/>
    <!-- axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js' integrity='sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ==' crossorigin='anonymous'></script>

    <title>FreelancerCafe - <%- title %></title>
</head>

<body>


        <%- contents %>
        

<script src="./assets/js/FavMap.js"></script>
<!-- <script src="./assets/js/BackToMemberMainBtn.js"></script> -->
<!-- <script src="./assets/js/MapsSearch.js"></script> -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUqlo7FVQDhF2QZfRkoonNdvmhXDZQmJ4&callback=FavMap"></script>



</body>
</html>
