<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- scss -->
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- font_awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css"/>
    <!-- axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js' integrity='sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ==' crossorigin='anonymous'></script>

    <title>FreelancerCafe_memberMain</title>
</head>
<body>

    <div class="full-box Flex">

        <div class="closebtn"><i class="fas fa-times"></i></div>

        <!-- ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ -->

    

        <div class="member-box FdcJcc">

            <h2>Freelancer</br>CAFE'</h2>
        
            <form action="#">

            <div class="showUserBox">
            
                <div class="userPhoto">
                <img src="./assets/images/NewUser.jpg" alt="">
                </div>

                <h2 class="MenuUserName">USER</h2>
            </div>

            <div class="MenuBtn">

                <a class="member-btn" href="./SignUp.html">  註冊會員   </a>
                <a class="member-btn" href="./Login.html">   登入會員   </a>
                <!-- <a class="member-btn" href="./UserPay.html"> 贊助我們   </a> -->
                <a class="member-btn" href="./Maps.html">    返回搜尋頁 </a>

            </div>


          
            <a href="./Maps.html" class="CloseBox">
                <i class="far fa-times-circle"></i>
            </a>


    
            
        </div>
        <!-- ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ -->

        <%- contents %>

        </div>
