//Color
$black: #585858;
$brown: #8B817B;

$m_gray: #C4C4C4;
$l_gray: #F3F3EF;


//Font Size
$font-s: 0.75rem;
$font-m: 1rem;
$font-l: 1.5rem;
$font-xl: 2rem;


//Font Style
$CJK-TC: "Noto Sans CJK TC";
$TC:"Noto Sans TC";
$N:"Noto Sans";

//Margin padding
$mp4  : 0.25rem;
$mp8  : 0.5rem;
$mp12 : 0.75rem;
$mp16 : 1rem;
$mp20 : 1.25rem;
$mp24 : 1.5rem;
$mp32 : 2rem;
$mp36 : 2.25rem;
$mp40 : 2.5rem;
$mp44 : 2.75rem;
$mp48 : 3rem;





